<!-- Icon Bar (Sidebar - hidden on small screens) -->
<nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center" style="padding-top: 300px;">
  <!-- Avatar image in top left corner -->
  <a href="/" class="w3-bar-item w3-button w3-padding-large w3-hover-red w3-text-black">
    <i class="fa fa-home w3-xxlarge"></i>
    <p>INICIO</p>
  </a>
  <a id="btn-registro" href="/registro" class="w3-bar-item w3-button w3-padding-large w3-hover-red w3-text-black">
    <i class="fa fa-user w3-xxlarge"></i>
    <p>CREAR USUARIO</p>
  </a>
  <a href="/cuenta" class="w3-bar-item w3-button w3-padding-large w3-hover-red w3-text-black">
    <i class="fa fa-eye w3-xxlarge"></i>
    <p>SESIÓN</p>
  </a>
</nav>